################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlayersGuide/.vs/PlayersGuide/DesignTimeBuild/.dtbcache.v2
.vs