################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlayersGuide/.vs/PlayersGuide/DesignTimeBuild/.dtbcache.v2
.vs/
/PlayersGuide/.vs/PlayersGuide/v17/.suo
/PlayersGuide/.vs/PlayersGuide/FileContentIndex/d0589fb6-62aa-4f66-ac3c-4f618805db6c.vsidx
/PlayersGuide/.vs/PlayersGuide/FileContentIndex/48902aff-c7a6-40d1-a4cf-8292743f19fb.vsidx
.cache
