<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />

		<add key="ThijmensValidationExtensions" value="https://pkgs.dev.azure.com/thijmenaarts/Extensions/_packaging/ThijmensValidationExtensions/nuget/v3/index.json" />

	</packageSources>
	<packageSourceCredentials>
		<ThijmensValidationExtensions>
			<add key="Username" value="thijmen.aarts@itvitaelearning.nl" />
			<add key="ClearTextPassword" value="sfcs3i4wtcyln65xz4hwreadep7ermui3yod3atp3xjinr3vliea" />
		</ThijmensValidationExtensions>
	</packageSourceCredentials>
</configuration>